.homeBody {
  padding-top: 1vh;
  &.mobile {
    padding: 0px !important;
  }
  padding-left: var(--theme-spacing-three);
  margin: 0 0 10vh 0 !important;

  .bodySection {
    display: flex;
    flex-flow: column;
    min-height: fit-content;

    .imageArea {
      flex: 1;
      position: relative;
      min-height: 90vh;
      height: 100%;
      width: 100%;

      .image {
        object-fit: cover;
        object-position: top;
      }

      .subtext {
        background-color: black;
      }
    }

    .textHolder {
      flex: 1;
      position: relative;
      height: 100%;
      width: 100%;
      background: black;

      .text {
        padding: var(--theme-spacing-one) var(--theme-spacing-three);

        h1 {
            font-size: 4rem;
        }

        h2 {
          font-family: var(--montSub-font);
          font-weight: 400;
          font-size: 2rem;
        }

        p {
          padding-left: var(--theme-spacing-three);
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .homeBody .bodySection .imageArea {
    min-height: 50vh;
  }
}

@media screen and (orientation: landscape) and (min-width: 1000px) {
  .homeBody .bodySection .imageArea {
    min-height: 60vh;
  }
}

@media screen and (min-width: 701px) and (max-width: 999px) {
  .image.right {
    object-position: right top !important;
  }

  .image.left {
    object-position: left top !important;
  }
}

@media screen and (max-width: 1000px) {
  .homeBody {
    margin: 0 0 0 0 !important;
  }
}
