.patreonPaper {
    background: rgba(42, 42, 42, .9);
}

.top {
    padding: 1rem;
}

.reasons {
    padding: 2rem;
}

.reasons__icons {
    width: fit-content;
}

.backgroundLogo, .backgroundLogoPatreon {
    position: fixed !important;
    top: 8rem !important;
}

.backgroundLogo {    
    z-index: -10;
    img { 
        z-index: -10;
    }
}

.backgroundLogoPatreon {    
    z-index: -8;
    img { 
        z-index: -8;
    }
}