.scriptBackground {
    opacity: .3;
    background: black;
}

.ReaderBody {
    height: 100%;
    max-width: 100vw;
    overflow-y: hidden;
    overflow-x: auto;

    .SlidesHolder {
        max-height: 100%;
        position: relative;
        max-width: 100%;

        &.mobile { 
            display: grid;
            grid-template-columns: calc(100% - 0.5in) auto;
        }

        &.small {
            display: flex;
            flex-flow: row;
            align-items: stretch;
            justify-content: space-between;
        }

        &.large {
            display: flex;
            flex-flow: row;
            align-items: stretch;
            justify-content: space-between;
        }

        .ReaderSlides {
            display: flex;
            flex-flow: row;
            align-items: stretch;
            justify-content: space-between;
        }
    }

    .readerArea {

        &.mobile {
            width: min(5.5in + .5in, 100vw + .5in + 15px)
        }

        &.small {
            width: 100vw;
        }

        &.large {
            border-left: 0px !important;
            width: 9.5in;
        }
    }

    .coverArea {       

        &.mobile {
            grid-column: 1;
            margin: var(--theme-spacing-three)
        }

        &.small {
            flex: 1;
            margin: var(--theme-spacing-three);
        }

        &.large {
            max-width: calc(100vw - 10in);
            flex: 1;
            margin: var(--theme-spacing-three);
        }

        .titleCoverImage {
            max-width: 100%;
            margin: auto;           
        }

        .buttonGroup {
            margin: auto;
        }
    }
}