@import '../../../styles/pretty-scroll.module.scss';

.stationDetails {
    max-height: 40vh;
    border-radius: .25rem;
    overflow-y: auto;

    .detailsTables {
        width: 100%;
        border: 3px solid rgb(81,81,81);
    }
}