.scriptBackground {
    opacity: .3;
    background: black;
}

.scriptBody {
    position: relative;
    max-width: 95%;
    margin: auto;

    table {
        position: relative;
        max-width: 100%;
    }
}