.homeHero {
    position: relative;
    padding-top: 30vh;

    img {
        object-fit: cover;
        object-position: top;
    }

    .holderThing {
        position: relative;
        height: fit-content;

        .textHolder {
            position: relative;
            overflow-wrap: break-word;
            z-index: 1;
            background: transparent;

            .text {
                padding: var(--theme-spacing-three);
                padding-bottom: 0;

                h1 {
                    font-family: var(--montSub-font);
                    color: var(--theme-primary-main);
                    margin: 0;
                }

                h2 {
                    margin: 0;
                    font-weight: 300;
                }
            }
        }

        .textBackground {
            background: linear-gradient(180deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 100%);
            filter: blur(5px);
            position: absolute;
            bottom: -5vh;
            right: 0;
            left: 0;
            top: 0;
            max-width: 100%;
            z-index: 1;

            .text {
                visibility: hidden;
                padding: var(--theme-spacing-three);

                h1 {
                    font-family: var(--montSub-font);
                    color: var(--theme-primary-main);
                    margin: 0;
                }

                h2 {
                    margin: 0;
                    font-weight: 300;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px ) {
    .homeHero {
        background: black;
        margin-bottom: 1vh;
        overflow: hidden;
    }
}